*, *::after, *::before {
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: column;
    text-align: center;
}

h1 {
    text-align: center;
}
section {
        display: grid;
        grid-template-columns: repeat(3, 10vmin);
        grid-template-rows: repeat(3, 10vmin);
        grid-gap: 1vmin;
    }
    /* below this not updated

section div {
        border-radius: 50%;
        border: 1px solid grey;

    }

    #col-markers {
        display: grid;
        grid-template-columns: repeat(10vmin);
        grid-template-rows: 10vmin;
        grid-gap: 1vmin;
    }

    #col-markers div {
        border-top: 5vmin solid grey;
        border-left: 5vmin solid transparent;
        border-right: 5vmin solid transparent;

    };
 */








